<div class="jumbotron text-center">
  <h1><font color="white">Home</h1>
  <p>Welcome to Reading Raquel's Book Store</p></font>
</div>


<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <center><h3>Add Author</h3>
        <a href="/authors/new">
          <img src="http://www.londonbookfair.co.uk/RXUK/RXUK_LondonBookFair/LBF%202015/Images/Author%20680%20x%20300.jpg?v=635599704170356154" style="width:200px;height:100px;border:0;">
        </center></a>
        <br>
      </div>

      <div class="col-sm-4">
        <center><h3>Add Book</h3>
          <a href="/books/new">
            <img src="http://whytoread.com/wp-content/uploads/2015/03/best-books-book-youll-ever-read.jpg" style="width:100px;height:100px;border:0;">
          </center>
        </a>
        <br>
      </div>

      <div class="col-sm-4">
        <center><h3>Add New Stock</h3> 
          <a href="/stock/new">
            <img src="http://storage.capita-software.co.uk/cmsstorage/capita/media/solutions/libraries/libraries_lms.jpg?ext=.jpg" style="width:125px;height:100px;border:0;">
          </center>
          <br>
        </div>

      </div>
    </div>