<!DOCTYPE html>
<html>
<head>
  <title>Raquel Recommends Book Store</title>
  <link rel="stylesheet" type="text/css" href="../style.css"
</head>
<body>
<nav>
<ul> 
  <li><a href="/authors"><img src="http://az616578.vo.msecnd.net/files/2016/03/18/635938620866537281-1040095471_Article%201.jpg" style="width:100px;border:1;"></a></li>
  <li><a href="/books">Books</a></li>
  <li><a href="/authors/new">Add an Author</a></li>
  <li><a href="/books/new">Add a Book</a></li>
  <li><a href="/inventory">Inventory</a></li>
  <li><a href="http://www.merriam-webster.com/word-of-the-day">Word of the Day</a></li>
</ul>
</nav>
<main>
<%= yield %>
</main>

</body>
</html>