<div class="content">

  <h2>Edit Stock</h2>

  <%= @stock.book.title %> by <%= @stock.book.author.name %>
  <br>
  <form action="/stock/<%= @stock.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" value="<%= @stock.quantity %>"><br>

    <input type='submit' value="Update Stock">
  </form>


</div>