<h2>Stock List</h2>

<% if @stock.count > 0 %>
  <ul>
  <% @stock.each do |stock| %>
  <li>
  <%= stock.quantity %> X <%= stock.book.title %> by <%= stock.book.author.name %>
  <br>
  <a href="/stock/<%= stock.id %>">Update/delete Stock Levels </a>
  <br>
  </li>
  <% end %>
  </ul>
  <% else %>
  <p> Please add stock! </p>
  <% end %>