<div class="content">

<h2>Add stock!</h2>

<form action="/stock" method="post">

  <label for="book">Book:</label>
  <select name="book_id">
  <% @books.each do |book| %>
  <option value="<%= book.id %>">
  <%= book.title %></option>
  <% end %>
  </select>

  <label for="author">Author:</label>
  <select name="author_id">
    <% @books.each do |book| %>
    <option value="<%= book.author.id %>">
    <%= book.author.name %></option>
      <% end %> 
    </select>

    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity"><br>

  <input type="submit" value="Add stock">
  </form>

  </div>