<h2> List of authors </h2>

<% if @authors.count > 0 %>
<ul>
<% @authors.each do |author| %>
  <li>
  <a href="/authors/<%= author.id %>"><%= author.name %></a>
  </li>
  <% end %>
  </ul>
  <% else %>
  <p> Please add an author! </p>
  <% end %>