<h2>Author</h2>

<h3><%= @author.name %></h3>
<br>
<br>
<a href="/authors/<%= @author.id%>/edit">Edit Author</a>
<br>
<br>
<a href="/authors">Back to all Authors</a>
<br>
<br>


<form action="/authors/<%= @author.id %>" method="post">

<input type="hidden" name="_method" value="delete">

<form action="/authors/<%= @author.id %>/delete" method="post">

<input type="submit" onclick="alert('Author will be deleted')" value="Delete">
</form>