<%= @author.name %>
<br>
<br>

<a href="/authors/<%= @author.id%>/edit">Edit Author</a>

<form action="/authors/<%= @author.id %>" method="post">

<input type="hidden" name="_method" value="delete">

<form action="/authors/<%= @author.id %>/delete" method="post">

<input type="submit" value="Delete">
</form>